.wrapper {
    width: 100%;
    border-top: 1px solid #e3e3e4;
}
.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}
.list-hashtag {
    display: flex;
    flex-wrap: wrap;
}
.menu-item {
    display: block;
    width: fit-content;
    max-width: 100%;
    font-size: 1.6rem;
}
.hashtag {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: fit-content;
    max-width: 100%;
    height: 24px;
    margin-bottom: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 12px;
    margin-right: 8px;
    background-color: rgba(22, 24, 35, 0.03);
    &:hover {
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.icon {
    font-size: 1.4rem;
    color: rgba(84, 84, 84, 0.92);
}
.title {
    margin-left: 6px;
    font-size: 1.4rem;
}
